#user_box{
	margin-top:20%;
	color:white;
}

#login_form{
}

#login_box{
	margin-top:5%;
}

#content,#teacher_content{
	height:500px;
	width:80%;
	margin-left:10%;
	color:orange;
}
#logo{
	background-color: black;
	width:50%;
	height:150px;
	float:right;
	margin-top:5%;
	margin-bottom:5%;
}
#form{
	text-align: center;
	color:white;
}
body{
	background-color:	black;
}
a,a:hover{
	text-decoration: none;
	color:orange;
}
#subjpage{
	background-color: black;
}